body {
  margin-top: 50px;
}
li {
  list-style: none;
  font-family: "Sniglet", cursive;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}

.heading {
  margin-left: 10px;
  text-transform: capitalize;
}

.weather-emojies {
  display: block;
  font-size: 5em;
}
.temperature {
  font-size: 3em;
}
hr {
  color: blueviolet;
  border: 1px solid;
}

.main-temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 18px;
  top: -34px;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  cursor: default;
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.credit {
  display: block;
  margin-left: 5em;
  margin-top: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  text-align: left;
}

.overall-body {
  border: 1px solid #dadde1;
  border-radius: 5px;
  max-width: 500px;
  margin: 30px auto;
}

.form-design {
  margin-top: 30px;
  margin-left: 10px;
}

.main-img {
  margin-left: 20px;
  margin-top: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: row;
}
